.keypad{
    width:50%;
    position: fixed;
    top:48%;
    left:50%;
}

.actions button{
    background-color:#d6e2e0;
    text-align: center;
    align-items: center;
    width:50%;
    padding: 5px;
    border-radius: 5px;
}
.moneyactions input {
    padding: 5px;
    border-radius: 5px;
    width:78%;
}
.moneyactions button{
    padding: 5px;
    width:22%;
    border-radius: 5px;
    background-color: red;
}
